@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 84% 4%;
  --foreground: 0 0% 100%;
  --card: 222 84% 6%;
  --card-foreground: 0 0% 100%;
  --popover: 222 84% 6%;
  --popover-foreground: 0 0% 100%;
  --primary: 318 92% 53%;
  --primary-foreground: 0 0% 100%;
  --secondary: 199 89% 48%;
  --secondary-foreground: 0 0% 100%;
  --muted: 222 10% 40%;
  --muted-foreground: 220 9% 78%;
  --accent: 199 89% 48%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 222 10% 20%;
  --input: 222 10% 20%;
  --ring: 318 92% 53%;
  --radius: 1rem;
}

html, body {
  height: 100%;
}

body {
  background-color: #0b0f17;
  color: white;
}
